nav.nav
    ul 
        li 
            a(href="#") Главная
        li  
            span Каталог
            ul 
                li 
                    a(href="#") Link 1
                li 
                    a(href="#") Link 2
                li 
                    span Link 3
                    ul
                     li
                        a(href="#") Test 1
                     li
                        a(href="#") Test 2
                     li
                        a(href="#") Test 3 
                li 
                    a(href="#") Link 4

        li 
            a(href="#") Галерея
        li 
            a(href="#") Наши работы
        li 
            a(href="#") О компании
        li
            span Контакты
            ul
             li
              span Link 100
              ul
               li
                a(href="#") link 1000
               li
                span link 2000
                ul
                 li
                  a(href="#") testers 100
                 li     
                  a(href="#") tester 2000    
               li
                a(href="#") link 3000
               li
                a(href="#") link 4000  
             li
              a(href="#") Link 200 
             li
              a(href="#") Link 300
             li
              a(href="#") Link 400 
