

@mixin mobile_nav () {
    .root_nav {
       border: 1px solid;
       width: 200px;    
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;

        li {
            width: 100%;
            padding: $padding;

            a {
                color: black;
            }

            span {
                cursor: pointer;
            }

            .sub__menu-activ_span {
                background-color: #f03861;
            }

        }

        ul {
            display: none;
        }

        .sub__menu-activ {
            border: 1px solid;
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: silver;
            align-items: center;
            justify-content: center;
        }

    }
}