/* < --- --- / Подключение шрифтов из папки assets/font \ --- --- > */

@mixin fontFacettf( $fontFamily, $fontSrc, $fontWeight ) {
  @font-face {
    src: local(#{fontFamily}), url("../assets/font/#{$fontFamily}.ttf");
    font-family: "#{$fontFamily}";
    font-weight: #{$fontWeight};
    font-style: normal;
    font-display: swap;
  }
}

@mixin fontFaceWoff( $fontFamily, $fontSrc, $fontWeight ) {
  @font-face {
    src: local(#{fontFamily}), url("../assets/font/#{$fontFamily}.woff2");
    font-family: "#{$fontFamily}";
    font-weight: #{$fontWeight};
    font-style: normal;
    font-display: swap;
  }
}

@mixin fontFaceOtf( $fontFamily, $fontSrc, $fontWeight ) {
  @font-face {
    src: local(#{fontFamily}), url("../assets/font/#{$fontFamily}.otf") format("opentype");
    font-family: "#{$fontFamily}";
    font-weight: #{$fontWeight};
    font-style: normal;
    font-display: swap;
  }
}
