/* ================================================== Desctop ================================================== */


/* <--- Large Devices, Wide Screens ---> ==================================================================================================================== */

@media only screen and (max-width: 1200px) {
   
}

/* <--- Large Devices, Wide Screens ---> ==================================================================================================================== */



/* <--- Medium Devices, Desctops ---> ==================================================================================================================== */

@media only screen and (max-width: 992px) {
 
}

/* <--- Medium Devices, Desctops ---> ==================================================================================================================== */



/* <--- Small Devices, Tablets ---> ==================================================================================================================== */

@media only screen and (max-width: 768px) {


}

/* <--- Small Devices, Tablets ---> ==================================================================================================================== */



/* <--- Extra Small Devices, Phones ---> ==================================================================================================================== */

@media only screen and (max-width: 480px) {
 
}

/* <--- Extra Small Devices, Phones ---> ==================================================================================================================== */



/* <--- Custom, IPhone Retina ---> ==================================================================================================================== */

@media only screen and (max-width: 320px) {
 
}

/* <--- Custom, IPhone Retina ---> ==================================================================================================================== */