.main {

	section {
		width: 100%;
		max-width: 1200px;
		padding: $padding;
		margin: 20px auto;

		h1,h2,h3 {
			font-size: 24px;
			font-weight: 700;
			text-align: center;
			padding: $padding;
		}

	}

}