/* < --- --- / Настройка класса wrapper для страницы \ --- --- > */

.wrapper {
	min-width: $htmlWidth;
	min-height: $htmlHeight;
	@include fontSize(16, 14);
	display: flex;
	flex-direction: column;
	overflow: hidden;

	footer {
		margin-top: auto;
	}

}