extends ./pug/layout/_sample

include ./pug/libs/_image

block variables
	- var pageTitle = 'Главная';


block content
	include ./pug/component/_header
	main.main
		section
			h1.
				Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
			p.
				Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Своего, диких! Живет знаках моей предупредила сбить снова текстами предупреждал над единственное эта, агентство текст силуэт встретил щеке своих языком несколько мир переписали первую проектах гор вопрос ручеек. Продолжил вершину, большого свой эта лучше жизни свое, свою, бросил выйти все единственное великий страну назад алфавит журчит. Маленькая что жизни живет скатился составитель вдали диких рукопись ручеек! Решила переписали возвращайся по всей заглавных что собрал курсивных, запятых запятой силуэт которое толку, семь составитель своих несколько взгляд текстами языком образ, повстречался осталось ведущими вопроса. Правилами продолжил родного от всех оксмокс прямо, бросил последний вопрос.
		section
			h2.
				Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
			p.
				Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Грамматики, деревни власти. Заглавных вдали рукописи скатился возвращайся от всех своих родного. Курсивных великий продолжил, маленькая правилами рекламных пунктуация составитель использовало свое океана буквоград путь на берегу несколько большого сих, ее переулка коварных предложения проектах языком предупредила. Бросил предложения встретил использовало свое lorem гор необходимыми по всей ему, если, имеет своих переулка пунктуация власти диких одна на берегу, свою речью текстов деревни большого. Знаках маленький над свой, вскоре деревни lorem строчка пор единственное. Подпоясал, он имени великий всемогущая грамматики жизни ее коварных моей, дорогу осталось вдали? Предупредила обеспечивает, переулка буквоград несколько выйти оксмокс. Текстов.
		section
			h3.
				Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
			p.
				Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Своего страна алфавит реторический! Оксмокс грустный lorem не от всех о текст возвращайся то составитель осталось запятых, курсивных первую, залетают переулка которой толку ему пустился прямо великий! Образ семь имеет, безорфографичный жаренные рыбными его ему! Рукописи реторический страну буквенных, о пояс он однажды которой правилами меня свое обеспечивает. Осталось первую однажды маленький которое имеет своего заголовок они свой домах это последний составитель, но щеке, вершину речью текста, раз текст взобравшись проектах которой. Власти бросил, реторический, семь толку моей вскоре снова грустный, океана грамматики взгляд вопроса предложения мир языком большого безорфографичный которое.
	include ./pug/component/_footer