:root {
/* < --- --- / Размеры Ширины и Высоты на странице \ --- --- > */



/*<--- --- Размеры для всей страницы --- --->*/


			--htmlWidth:  100%;
			--htmlHeight: 100%;

/*<--- --- Размеры для container --- --->*/


			--contWidth:  1200px;
			--contHeight: 100%;



/* < --- --- / Размеры Ширины и Высоты на странице \ --- --- > */



/* < --- --- / Подключение Шрифта на страницу сайте \ --- --- > */



/*<--- --- Подключение шрифта для всего сайта --- --->*/


//$fontFamily: ;



/* < --- --- / Подключение Шрифта на страницу сайте \ --- --- > */



/* < --- --- / Отступы Marging, Padding \ --- --- > */



			--pad: 10px 12px;
			--mar: 0 auto;



/* < --- --- / Отступы Marging, Padding \ --- --- > */



/* < --- --- / Цвета на сайт \ --- --- > */


/*<--- --- Цвета --- --->*/

// Черный
			--colorBlack: #000000;
// Белый
			--colorWhite: #ffffff;
// синий
			--colorBlue: #0000ff;
// Зелёный
			--colorGreen: #00ff00;
// Желтый
			--colorYellow: #ffff00;
// Оранжевый
			--colorOrange: #ffa500;

/* < --- --- / Цвета на сайт \ --- --- > */

}