:root {
  /* < --- --- / Размеры Ширины и Высоты на странице \ --- --- > */

  /* <--- --- Размеры для всей страницы --- ---> */

  --htmlWidth: 100%;
  --htmlMaxWidth: 1440px;
  --htmlHeight: 100%;

  /* <--- --- Размеры для container --- ---> */

  --conteinerWidth: 100%;
  --containerMaxWidth: 868px;
  --conteinerHeight: 100%;
  --contaiernMaxHeight: 100%;

  /* < --- --- / Размеры Ширины и Высоты на странице \ --- --- > */

  /* < --- --- / Подключение Шрифта на страницу сайте \ --- --- > */

  /* <--- --- Подключение шрифта для всего сайта --- ---> */

  //$fontFamily: ;

  /* < --- --- / Подключение Шрифта на страницу сайте \ --- --- > */

  /* < --- --- / Отступы Marging, Padding \ --- --- > */

  --paddingStandart: 10px 12px;
  --marginStandart: 0 auto;

  /* < --- --- / Отступы Marging, Padding \ --- --- > */

  /* < --- --- / Цвета на сайт \ --- --- > */

  /* <--- --- Цвета --- ---> */

  // Черный
  --colorBlack: #000;

  // Белый
  --colorWhite: #fff;

  // синий
  --colorBlue: #00f;

  // Зелёный
  --colorGreen: #0f0;

  // Желтый
  --colorYellow: #ff0;

  // Оранжевый
  --colorOrange: #ffa500;

  /* < --- --- / Цвета на сайт \ --- --- > */
}
