@import "../mixin/fontFace/fontFace";

/* < --- --- / Размеры Ширины и Высоты на странице \ --- --- > */



/*<--- --- Размеры для всей страницы --- --->*/
			$htmlWidth:  100%;
			$htmlHeight: 100%;

/*<--- --- Размеры для container --- --->*/
			$contWidth:  1200px;
			$contHeight: 100%;

/*<--- --- Размеры шрифта для всей страницы ( По макету ) --- --->*/
			$fontWidth: 1920; // Ширина Экрана заданная в макете



/* < --- --- / Размеры Ширины и Высоты на странице \ --- --- > */



/* < --- --- / Подключение Шрифта на страницу сайте \ --- --- > */



/*<--- --- Подключение шрифта для всего сайта --- --->*/
			@include fontFacettf(robot, robot, normal); // формат ttf
	//	@include fontFaceWoff(robot, robot, normal); // формат woff2



/* < --- --- / Подключение Шрифта на страницу сайте \ --- --- > */



/* < --- --- / Отступы Marging, Padding \ --- --- > */



			$padding: 12px 12px;
			$margin: 0 auto;



/* < --- --- / Отступы Marging, Padding \ --- --- > */



/* < --- --- / Цвета на сайт \ --- --- > */

/*<--- --- Основной цвет страницы --- --->*/
			$htmlColor: white;

/*<--- --- Цвет header --- --->*/
			$headerColor: white;

/*<--- --- Цвет main --- --->*/
			$mainColor: white;

/*<--- --- Цвет footer --- --->*/
			$footerColor: white;

/*<--- --- Цвета --- --->*/

// Черный
			$colorBlack: #000000;
// Белый
			$colorWhite: #ffffff;
// синий
			$colorBlue: #0000ff;
// Зелёный
			$colorGreen: #00ff00;
// Желтый
			$colorYellow: #ffff00;
// Оранжевый
			$colorOrange: #ffa500;

/* < --- --- / Цвета на сайт \ --- --- > */

